<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
	<li class="scroll active"><a href="#home">Home</a></li>
	<li class="scroll"><a href="#post">Blog</a></li>
        <li class="scroll"><a href="#about">About</a></li>
	<li><a class="no-scroll" href="#" target="_blank">PURCHASE TICKETS</a></li>
	<li class="scroll"><a href="#contact">Contact</a></li>
    </ul>
</div>